@import url("style.css");

/* ===== ROOT ===== */

:root {
    --text-col1: hsl(var(--color1), 20%, 98%);
    --background-col1: hsl(var(--color1), 20%, 10%);
    --title-col1: hsl(var(--color1), 20%, 30%);
}



/* ===== LAYOUT ===== */

.bouton_theme {
    background-color: var(--dark-col1);
    color: var(--text-col1);
    border-radius: 50%;
    border: 3px solid var(--dark-col1);
}

.bouton_theme:hover {
    background-color: var(--background-col1);
}



/* ===== INDEX ===== */

.index_title {
    color: var(--title-col1);
}

.index_searchbar {
    border-color: var(--dark-col1);
}



/* ===== MENU ===== */

.listedocu_etiquette,
.listedocu_admin,
.legende {
    border-color: var(--dark-col1);
}

.listedocu_admin {
    background-color: var(--dark-col1);
}

.listedocu_admin_button {
    color: var(--text-col1);
}

.listedocu_admin_button:hover {
    color: var(--light-col1);
}



/* ===== LOADER ===== */

.loader_wrapper {
    background: var(--background-col1);
}