body {
    height : 100vh;
    width : 100vw;
    margin: 0;
}

header {
    display: flex;
    width: 100vw;
    height: 5vh;
    padding: 0%;
    background-color: var(--dark-col1);
    align-items: center;
}

.centre {
    display: flex;
    background: var(--light-col1);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.logo {
    display: flex;
    flex-direction: row;
    width: 50vw;
    height: 5vh;
    align-items: center;
    justify-content: left;
    text-align: left;
    margin: 0;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-col1);
    width: 5vh;
    height: 5vh;
    padding: 0;
    margin:0;
    font-family: 'Yeseva One', cursive;
    font-size: 3vh;
    background-color: var(--col1);
}


#logo:hover {
    background-color: var(--light-col1);
    color: var(--dark-col1);
    transition: 0.2s;
}

a:link {
    text-decoration: none
}

.log {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-col1);
    width: 5vh;
    height: 5vh;
    padding: 0;
    margin:0;
    font-size: 2.5vh;
    transition: font-size 0.1s;
}

.log:hover {
  background-color: var(--col1);
  transition: background-color 0.2s;
}

.centre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
}

#champs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    margin: 0;
    padding: 0;
}

.champ {
    width:30vw;
    height: 5vh;
    outline: none;
    border: none;
    margin-top: 2vh;
    margin-bottom: 2vh;
    background-color: var(--light-col1);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 1vh;
}

#selections {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

select {
    font-family: 'Montserrat', sans-serif;
    border: none;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 0.5vh;
    font-size: 2vh;
    color: var(--dark-col1);
    background-color: var(--light-col1);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
    border-radius: 0.5vh;
}