{% extends 'layout.html' %}

{% block titre %}Accueil{% endblock %}

{% block matieres %}

    {% for year, periods in dictMatActives.items() %}
        <div class="navbar">
            <div class="navbar_pc">
                <a href = "{{ url_for('annee', annee=year) }}" class="bandeau">
                    <button class="navbar_toggle">
                        <div class="navbar_annee">
                            <span>{{ year }}A</span>
                        </div>
                    </button>
                </a>
            </div>

            <div class="navbar_tab">
                <button class="navbar_toggle">
                    <div class="navbar_annee">
                        <span>{{ year }}A</span>
                    </div>
                </button>
            </div>

            <div class="navbar_links">
                {% for period, mats in periods.items() %}
                    <div class="dropdown">
                        <button class="dropbtn">P{{ period }}</button>
                        <div class="dropdown_content">
                            {% for mat in mats %}
                                {% set matName = listeMatieres[mat] %}
                                <a href="{{ url_for('annee', annee=year, matiere=mat) }}">{{ matName }}</a>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}

    <div class="bouton_divers_div" id="bouton-divers-div">
        <a href="{{ url_for('divers') }}">
            <button class="bouton_divers" id="bouton-divers">Divers</button>
        </a>
    </div>

{% endblock %}

{% block main %}

<div class="main_center" id="main-center">
    <a href="{{ url_for('tout') }}">
        <div class="index_title" id="index_title">Eur<div class="index_title_alt">ê</div>ka</div>
    </a>
    <form method = "POST" class="index_form" action="{{ url_for('recherche') }}">
        <input class="searchbar index_searchbar" id="index-searchbar" ondrop="return false" autocomplete="off" type="text" name="search" placeholder="Rechercher avec des mots-clés...">
    </form>
</div>

{% endblock %}