{% extends 'layout.html' %}

{% block titre %}Upload{% endblock %}

{% block main %}

<div class="container container_upload" id="container-upload">
    <div class="container_title">Suppression</div>
    <form class="upload_form" action="{{ url_for('suppPost') }}" method="POST" enctype="multipart/form-data">
        <div id="champs">
            <input type="text" name="titre" placeholder="Titre" class="champ" required> 
        </div>
        <div id="boutonUpload">
            <input type="submit" value="Supprimer" class="bouton">
        </div>
    </form>
    <div class="upload_msg">
        {% if (msg != "") %}
            <span>{{ msg }}</span>
        {% endif %}
    </div>
</div>

{% endblock %}