{% extends 'layout.html' %}

{% block Title %}
    Upload
{% endblock %}

{% block liste %}
    <form action="{{ url_for('uploadPost') }}" method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="text" name="auteur" placeholder="Auteur">
        <input type="text" name="tags" placeholder="Tags">
        <input type="text" name="description" placeholder="Description"> 
        <fieldset>
            <legend>Choix de l'année:</legend>
        
            <div>
              <input type="radio" id="3" name="annee" value="3"
                     checked>
              <label for="3">3ème Année</label>
            </div>
        
            <div>
                <input type="radio" id="4" name="annee" value="4">
                <label for="4">4ème Année</label>
              </div>
        
              <div>
                <input type="radio" id="5" name="annee" value="5">
                <label for="5">5ème Année</label>
              </div>
        </fieldset>
        <input type="submit" value="Upload">
    </form>
{% endblock %}
    
</body>
</html>